<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

<connectionStrings>
    <add name="MantesisSql" connectionString="Data Source=CT9BD2;Initial Catalog=Mantesis;User Id=4cc3s01nf0;Password=Pr0gr4m4d0r3s" providerName="System.Data.SqlClient"/>
    <add name="Constitucional" connectionString="Data Source=mxctdb1.scjn.pjf.gob.mx;Initial Catalog=IUS_PRODUCCION;User Id=4cc3s01nf0;Password=Pr0gr4m4d0r3s" providerName="System.Data.SqlClient"/>
    <add name="Tematicos" connectionString="Data Source=ct9bd1;Initial Catalog=TematicoIUS;User Id=4cc3s01nf0;Password=Pr0gr4m4d0r3s" providerName="System.Data.SqlClient"/>
    <!--<add name="Diccionario" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\172.28.41.17\Users\lavega\Pictures\Diccionario\DiccionarioJuridico.accdb;Persist Security Info=False;"/>-->
    <add name="SJF" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\ModuloIntercomunicacionBD\SJF.accdb;Persist Security Info=False;"/>
    <add name="Ligas" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\lavega\Documents\Leyes2010.accdb;Persist Security Info=False;"/>
  </connectionStrings>
  <appSettings>
    <add key="Datos" value="C:\Users\lavega\Documents\Datos\"/>
  </appSettings>
</configuration>